{% extends 'base.html' %}

{% block title %}Password Set{% endblock title %}

{% block content %}


<section class="account">
    <div class="container-fluid py-5">
        <div class="row my-5 py-5">
            <div class="col-11 col-lg-4 form">
                <form method="post" class="py-5">
                    {% csrf_token %}
                    <h1 class="my-5">
                        Set Password
                    </h1>
                    
                    <input type="password" name="oldpassword" required id="id_oldpassword" placeholder="Current Password">
                    <br>
                    <div style="color: red;" class="error-message">
                        {{ form.oldpassword.errors }}
                    </div>

                    <input type="password" name="password1" required id="id_password2" placeholder="New Password">
                    <br>
                    <div style="color: red;" class="error-message">
                        {{ form.password1.errors }}
                    </div>
                    <div style="color: red;" class="error-message">
                        {{ form.password2.errors }}
                    </div>

                    <input type="password" name="password2" required id="id_password2" placeholder="New Password (Again)">
                    <br>
                    <a href="{% url 'account_reset_password' %}" style="text-decoration: none; color: #FF6F61;">Forgot password?</a>
                    <br>
                    <input style="width: 100%" type="submit" class="btn account-btn mt-5" value="Change Password">
                    </form>
                </div>
            </div>
        </div>
    </section>

{% include '../codeSnippets/footer.html' %}

    
{% endblock %}
