{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %}



<section class="account">
    <div class="container-fluid py-5">
        <div class="row my-5 py-5">
            <div class="col-11 col-lg-4 form">
                    <h1 class="my-5">
                        Your Password is now changed
                    </h1>
                </div>
            </div>
        </div>
    </section>

{% include '../codeSnippets/footer.html' %}
    
{% endblock %}
