{% extends 'base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block content %}



<section class="account">
    <div class="container-fluid py-5">
        <div class="row my-5 py-5">
            <div class="col-11 col-lg-4 form">
                <form method="post" class="py-5">
                    {% csrf_token %}
                    <h1 class="my-5">
                        Reset Password
                    </h1>
                    <p style="margin: 0 15%; text-align: justify;"> Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
                    {% if form.email.errors %}
                        {{form.email.errors}}
                    {% endif %}
                    <input type="email" name="email" required id="email" placeholder="E-mail">
                    <br>
                        <input type="submit" class="btn account-btn mt-5" value="Reset">
                    </form>
                </div>
            </div>
        </div>
    </section>

{% include '../codeSnippets/footer.html' %}

    
{% endblock %}
