{% extends 'base.html' %}

{% block title %}Password Reset Done{% endblock title %}

{% block content %}



<section class="account">
    <div class="container-fluid py-5">
        <div class="row my-5 py-5">
            <div class="col-11 col-lg-4 form">
                <h1 class="my-5">
                    Password Reset
                </h1>
                <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
            </div>
        </div>
    </div>
</section>

    
{% endblock %}
