[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = "*"
python-dotenv = "*"
pillow = "*"
beautifulsoup4 = "*"
lxml = "*"
django = "==3.2"

[dev-packages]

[requires]
python_version = "3.11"
