{% extends 'base.html' %}
{% load static %}

{% block content %}


    <section class="main">
        <div class="owl-carousel">
            <div class="item">
                <img src="{% static 'img/img1.jpg' %}">
                <div class="detail">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga?</p>
                    <span class="profile">
                        <img src="img/profile.jpg" class="pro-img">
                        <p class="pro-id">John</p>
                    </span>
                    <span class="like">
                        <i class="fa fa-star"></i>
                        <p class="like-id">{{recipe.average_rating}} stars!</p>
                    </span>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'img/img2.jpg' %}">
                <div class="detail">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga?</p>
                    <span class="profile">
                        <img src="img/profile.jpg" class="pro-img">
                        <p class="pro-id">John</p>
                    </span>
                    <span class="like">
                        <i class="fa fa-star"></i>
                        <p class="like-id">{{recipe.average_rating}} stars!</p>
                    </span>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'img/img3.jpg' %}">
                <div class="detail">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga?</p>
                    <span class="profile">
                        <img src="img/profile.jpg" class="pro-img">
                        <p class="pro-id">John</p>
                    </span>
                    <span class="like">
                        <i class="fa fa-star"></i>
                        <p class="like-id">{{recipe.average_rating}} stars!</p>
                    </span>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'img/img4.jpg' %}">
                <div class="detail">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga?</p>
                    <span class="profile">
                        <img src="img/profile.jpg" class="pro-img">
                        <p class="pro-id">John</p>
                    </span>
                    <span class="like">
                        <i class="fa fa-star"></i>
                        <p class="like-id">{{recipe.average_rating}} stars!</p>
                    </span>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'img/img5.jpg' %}">
                <div class="detail">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga?</p>
                    <span class="profile">
                        <img src="img/profile.jpg" class="pro-img">
                        <p class="pro-id">John</p>
                    </span>
                    <span class="like">
                        <i class="fa fa-star"></i>
                        <p class="like-id">{{recipe.average_rating}} stars!</p>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="module mt-5 py-5">
        <div class="container">
            <h1 class="module-title">
                Check our <span class="module-subtitle">Burger's...</span>
            </h1>
            <div class="row my-5">
                <div class="col-3">
                    <a href="#" class="module-article">
                        <img src="{% static 'img/img1.jpg' %}" class="module-article-img">
                    </a>
                    <div class="module-article-title">
                        <a href="#">
                            <i class="fa fa-cutlery"></i>
                            <h3>
                                Lorem ipsum dolor sit amet.
                            </h3>
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <a href="#" class="module-article">
                        <img src="{% static 'img/img1.jpg' %}" class="module-article-img">
                    </a>
                    <div class="module-article-title">
                        <a href="#">
                            <i class="fa fa-cutlery"></i>
                            <h3>
                                Lorem ipsum dolor sit amet.
                            </h3>
                        </a>
                    </div>
                    
                </div>
                <div class="col-3">
                    <a href="#" class="module-article">
                        <img src="{% static 'img/img1.jpg' %}" class="module-article-img">
                    </a>
                    <div class="module-article-title">
                        <a href="#">
                            <i class="fa fa-cutlery"></i>
                            <h3>
                                Lorem ipsum dolor sit amet.
                            </h3>
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <a href="#" class="module-article">
                        <img src="{% static 'img/img1.jpg' %}" class="module-article-img">
                    </a>
                    <div class="module-article-title">
                        <a href="#">
                            <i class="fa fa-cutlery"></i>
                            <h3>
                                Lorem ipsum dolor sit amet.
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="module-title">
                Check our <span class="module-subtitle">Taco's...</span>
            </h1>
            <div class="row my-5">
                <div class="col-3">
                    <a href="#" class="module-article">
                        <img src="{% static 'img/img3.jpg' %}" class="module-article-img">
                    </a>
                    <div class="module-article-title">
                        <a href="#">
                            <i class="fa fa-cutlery"></i>
                            <h3>
                                Lorem ipsum dolor sit amet.
                            </h3>
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <a href="#" class="module-article">
                        <img src="{% static 'img/img3.jpg' %}" class="module-article-img">
                    </a>
                    <div class="module-article-title">
                        <a href="#">
                            <i class="fa fa-cutlery"></i>
                            <h3>
                                Lorem ipsum dolor sit amet.
                            </h3>
                        </a>
                    </div>
                    
                </div>
                <div class="col-3">
                    <a href="#" class="module-article">
                        <img src="{% static 'img/img3.jpg' %}" class="module-article-img">
                    </a>
                    <div class="module-article-title">
                        <a href="#">
                            <i class="fa fa-cutlery"></i>
                            <h3>
                                Lorem ipsum dolor sit amet.
                            </h3>
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <a href="#" class="module-article">
                        <img src="{% static 'img/img3.jpg' %}" class="module-article-img">
                    </a>
                    <div class="module-article-title">
                        <a href="#">
                            <i class="fa fa-cutlery"></i>
                            <h3>
                                Lorem ipsum dolor sit amet.
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-module my-5">
        <div class="container">
            <div class="row">
                <div class="col-9 recipe-stack">
                    <div class="row mod-first py-5">
                        <div class="col-4 item">
                            <img src="{% static 'img/img3.jpg' %}">
                            <div class="detail">
                                <p>Lorem ipsum dolor, sit amet</p>
                                <span class="profile">
                                    <img src="img/profile.jpg" class="pro-img">
                                    <p class="pro-id">John</p>
                                </span>
                                <span class="like">
                                    <i class="fa fa-star"></i>
                                    <p class="like-id">{{recipe.average_rating}} stars!</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-4 item">
                            <img src="{% static 'img/img1.jpg' %}">
                            <div class="detail">
                                <p>Lorem ipsum dolor, sit amet</p>
                                <span class="profile">
                                    <img src="img/profile.jpg" class="pro-img">
                                    <p class="pro-id">John</p>
                                </span>
                                <span class="like">
                                    <i class="fa fa-star"></i>
                                    <p class="like-id">{{recipe.average_rating}} stars!</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-4 item">
                            <img src="{% static 'img/img3.jpg' %}">
                            <div class="detail">
                                <p>Lorem ipsum dolor, sit amet</p>
                                <span class="profile">
                                    <img src="img/profile.jpg" class="pro-img">
                                    <p class="pro-id">John</p>
                                </span>
                                <span class="like">
                                    <i class="fa fa-star"></i>
                                    <p class="like-id">{{recipe.average_rating}} stars!</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mod-first py-5">
                        <div class="col-4 item">
                            <img src="{% static 'img/img1.jpg' %}">
                            <div class="detail">
                                <p>Lorem ipsum dolor, sit amet</p>
                                <span class="profile">
                                    <img src="img/profile.jpg" class="pro-img">
                                    <p class="pro-id">John</p>
                                </span>
                                <span class="like">
                                    <i class="fa fa-star"></i>
                                    <p class="like-id">{{recipe.average_rating}} stars!</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-4 item">
                            <img src="{% static 'img/img3.jpg' %}">
                            <div class="detail">
                                <p>Lorem ipsum dolor, sit amet</p>
                                <span class="profile">
                                    <img src="img/profile.jpg" class="pro-img">
                                    <p class="pro-id">John</p>
                                </span>
                                <span class="like">
                                    <i class="fa fa-star"></i>
                                    <p class="like-id">{{recipe.average_rating}} stars!</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-4 item">
                            <img src="{% static 'img/img1.jpg' %}">
                            <div class="detail">
                                <p>Lorem ipsum dolor, sit amet</p>
                                <span class="profile">
                                    <img src="img/profile.jpg" class="pro-img">
                                    <p class="pro-id">John</p>
                                </span>
                                <span class="like">
                                    <i class="fa fa-star"></i>
                                    <p class="like-id">{{recipe.average_rating}} stars!</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mod-first py-5">
                        <div class="col-4 item">
                            <img src="{% static 'img/img3.jpg' %}">
                            <div class="detail">
                                <p>Lorem ipsum dolor, sit amet</p>
                                <span class="profile">
                                    <img src="img/profile.jpg" class="pro-img">
                                    <p class="pro-id">John</p>
                                </span>
                                <span class="like">
                                    <i class="fa fa-star"></i>
                                    <p class="like-id">{{recipe.average_rating}} stars!</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-4 item">
                            <img src="{% static 'img/img1.jpg' %}">
                            <div class="detail">
                                <p>Lorem ipsum dolor, sit amet</p>
                                <span class="profile">
                                    <img src="img/profile.jpg" class="pro-img">
                                    <p class="pro-id">John</p>
                                </span>
                                <span class="like">
                                    <i class="fa fa-star"></i>
                                    <p class="like-id">{{recipe.average_rating}} stars!</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-4 item">
                            <img src="{% static 'img/img3.jpg' %}">
                            <div class="detail">
                                <p>Lorem ipsum dolor, sit amet</p>
                                <span class="profile">
                                    <img src="img/profile.jpg" class="pro-img">
                                    <p class="pro-id">John</p>
                                </span>
                                <span class="like">
                                    <i class="fa fa-star"></i>
                                    <p class="like-id">{{recipe.average_rating}} stars!</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <a href="recipe.html" class="btn mb-5">
                        Add Recipe
                    </a>
                </div>
                <div class="col-3">
                    <div class="mod-sec py-4">
                        <h1>
                            <span>
                                Feedburner
                            </span>
                        </h1>
                        <div class="cen py-3 px-4">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, doloribus!
                            </p>
                            <form action="">
                                <input type="email" placeholder="E-mail" name="email" class="subscribe">
                                <br>
                                <input type="submit" value="Subscribe" class="btn">
                            </form>
                        </div>
                    </div>
                    <div class="mod-tri px-3 py-5 my-3">
                        <h1>
                            Best
                            <br>
                            Burger
                            <br>
                            Steak
                        </h1>
                        <div class="but">
                            <a href="#" class="btn mt-3">Check Now</a>
                        </div>
                    </div>
                    <div class="mod-for p-4">
                        <h1 class="mb-4">
                            <span>
                                Top Items
                            </span>
                        </h1>
                        <ul class="for-item">
                            <li class="content my-3">
                                <a href="#" style="text-decoration: none;">
                                    <div class="content-data">
                                        <img src="{% static 'img/img1.jpg' %}" class="content-img">
                                        <div class="content-txt-data">
                                            <h1 class="content-txt">
                                                Lorem ipsum dolor sit amet.
                                            </h1>
                                            <span class="like px-3">
                                                <i class="fa fa-star"></i>
                                                <p class="like-id">{{recipe.average_rating}} stars!</p>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="content my-3">
                                <a href="#" style="text-decoration: none;">
                                    <div class="content-data">
                                        <img src="{% static 'img/img1.jpg' %}" class="content-img">
                                        <div class="content-txt-data">
                                            <h1 class="content-txt">
                                                Lorem ipsum dolor sit amet.
                                            </h1>
                                            <span class="like px-3">
                                                <i class="fa fa-star"></i>
                                                <p class="like-id">{{recipe.average_rating}} stars!</p>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="content my-3">
                                <a href="#" style="text-decoration: none;">
                                    <div class="content-data">
                                        <img src="{% static 'img/img1.jpg' %}" class="content-img">
                                        <div class="content-txt-data">
                                            <h1 class="content-txt">
                                                Lorem ipsum dolor sit amet.
                                            </h1>
                                            <span class="like px-3">
                                                <i class="fa fa-star"></i>
                                                <p class="like-id">{{recipe.average_rating}} stars!</p>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="content my-3">
                                <a href="#" style="text-decoration: none;">
                                    <div class="content-data">
                                        <img src="{% static 'img/img1.jpg' %}" class="content-img">
                                        <div class="content-txt-data">
                                            <h1 class="content-txt">
                                                Lorem ipsum dolor sit amet.
                                            </h1>
                                            <span class="like px-3">
                                                <i class="fa fa-star"></i>
                                                <p class="like-id">{{recipe.average_rating}} stars!</p>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="content my-3">
                                <a href="#" style="text-decoration: none;">
                                    <div class="content-data">
                                        <img src="{% static 'img/img1.jpg' %}" class="content-img">
                                        <div class="content-txt-data">
                                            <h1 class="content-txt">
                                                Lorem ipsum dolor sit amet.
                                            </h1>
                                            <span class="like px-3">
                                                <i class="fa fa-star"></i>
                                                <p class="like-id">{{recipe.average_rating}} stars!</p>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="last-module">
        <div class="container py-5">
            <h1 class="module-title">
                Check our <span class="module-subtitle">Random Post...</span>
            </h1>
            <div class="row py-5">
                <div class="col-3 item">
                    <img src="{% static 'img/img1.jpg' %}">
                    <div class="detail">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga?</p>
                        <span class="profile">
                            <img src="img/profile.jpg" class="pro-img">
                            <p class="pro-id">John</p>
                        </span>
                        <span class="like">
                            <i class="fa fa-star"></i>
                            <p class="like-id">{{recipe.average_rating}} stars!</p>
                        </span>
                    </div>
                </div>
                <div class="col-3 item">
                    <img src="{% static 'img/img3.jpg' %}">
                    <div class="detail">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga?</p>
                        <span class="profile">
                            <img src="img/profile.jpg" class="pro-img">
                            <p class="pro-id">John</p>
                        </span>
                        <span class="like">
                            <i class="fa fa-star"></i>
                            <p class="like-id">{{recipe.average_rating}} stars!</p>
                        </span>
                    </div>
                </div>
                <div class="col-3 item">
                    <img src="{% static 'img/img1.jpg' %}">
                    <div class="detail">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga?</p>
                        <span class="profile">
                            <img src="img/profile.jpg" class="pro-img">
                            <p class="pro-id">John</p>
                        </span>
                        <span class="like">
                            <i class="fa fa-star"></i>
                            <p class="like-id">{{recipe.average_rating}} stars!</p>
                        </span>
                    </div>
                </div>
                <div class="col-3 item">
                    <img src="{% static 'img/img3.jpg' %}">
                    <div class="detail">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga?</p>
                        <span class="profile">
                            <img src="img/profile.jpg" class="pro-img">
                            <p class="pro-id">John</p>
                        </span>
                        <span class="like">
                            <i class="fa fa-star"></i>
                            <p class="like-id">{{recipe.average_rating}} stars!</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include '../codeSnippets/footer.html' %}

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop:true, 
            dots:false, 
            autoplay:true,
            center:true,
            autoplayTimeout:3000,
            responsive:{
                0:{
                    items:1
                },
                480:{
                    items:2
                },
                768:{
                    items:4
                }
            }
        })
    </script>



{% endblock content %}