<footer class="footer py-5">
    <div class="container">
        <div class="social">
            <div class="icon">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
            <div class="icon">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
            <div class="icon">
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
        <span class="divider my-5"></span>
        <p class="footer-main-text">All rights reserved.</p>
    </div>
</footer>
