
    <nav class="navbar nav-top navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto mx-lg-0">
                <i class="fa fa-cutlery mx-auto mx-lg-5" aria-hidden="true"></i>
            </a>
            <form class="d-none d-lg-flex ms-auto">
                <input class="form" type="search" placeholder="Search" aria-label="Search" name='q' >
                <a class="btn" type="submit">
                    <i class="fa fa-search"></i>
                </a>
            </form>
        </div>
    </nav>

    <nav class="navbar nav-bottom navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link mx-0 mx-lg-4 active" href="{% url 'home' %}">Home</a>
                    <a class="nav-link mx-0 mx-lg-4" href="{% url 'category' %}">Category</a>
                    <a class="nav-link mx-0 mx-lg-4" href="#">Contact</a>
                    <a class="nav-link mx-0 mx-lg-4" href="#">Newsletter </a>
                </div>
            </div>
              <div class="accounts me-0 ms-auto ms-lg-0 me-lg-5">
                  <a href="{% url 'account_login' %}" class="btn login-btn">
                      Login
                  </a>
                  <a href="{% url 'account_signup' %}" class="btn signup-btn">
                    Signup
                </a>
              </div>
        </div>
    </nav>
